@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
@layer base {

    /* =================================================
                    Fonts
    ================================================= */
    /* roboto-300 - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/roboto-v30-latin-300.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/roboto-v30-latin-300.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/roboto-v30-latin-300.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
        /* Legacy iOS */
    }

    /* roboto-regular - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/roboto-v30-latin-regular.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
        /* Legacy iOS */
    }

    /* roboto-500 - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/roboto-v30-latin-500.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/roboto-v30-latin-500.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/roboto-v30-latin-500.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
        /* Legacy iOS */
    }

    /* roboto-700 - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/roboto-v30-latin-700.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/roboto-v30-latin-700.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/roboto-v30-latin-700.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
        /* Legacy iOS */
    }

    /* =================================================
                    CSS Variable
    ================================================= */
    :root {
        --primary-font: 'Roboto', sans-serif;

        --blue-1: #48B4FD;
        --black-2: #383838;
        --black-3: #898989;
        --space-x: 4.167vw;
        --btn-space-x: 50px;
        /* --app-height: 100%; */
    }

    /* html,
    body {
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        height: var(--app-height);
    }

    .app-height {
        height: var(--app-height);
    } */

    /*======================================= 
                    common css 
    ========================================*/
    .jst-container {
        max-width: 1350px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .jst-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    /* .section-title {
        font-size: clamp(40px, 6vw, 70px);
        line-height: clamp(45px, 7.5vw, 82px);
    } */

    .section-title {
        font-size: 70px;
        line-height: 82px;
    }

    @media (max-width: 1280px) {
        .section-title {
            font-size: 60px;
            line-height: 72px;
        }
    }

    @media (max-width: 1024px) {
        .section-title {
            font-size: 50px;
            line-height: 57px;
        }
    }

    @media (max-width: 768px) {
        .section-title {
            font-size: 40px;
            line-height: 45px;
        }
    }

    .section-pagination {
        font-size: clamp(20px, 3.5vw, 50px);
        line-height: clamp(25px, 4.5vw, 59px);
        height: clamp(25px, 4.5vw, 59px);
    }

    /* @media (min-width: 1441px) {
        .section-pagination {
            font-size: 3.47vw;
            line-height: 4.1vw;
            height: 4.1vw;
        }
    } */

    /* .box-img-title {
        font-size: clamp(33px, 3.6vw, 48px);
        line-height: clamp(40px, 4.5vw, 56px);
    } */

    .box-img-title {
        font-size: 48px;
        line-height: 56px;
    }

    @media (max-width: 1024px) {
        .box-img-title {
            font-size: 37px;
            line-height: 46px;
        }
    }

    @media (max-width: 768px) {
        .box-img-title {
            font-size: 30px;
            line-height: 35px;
        }
    }

    .home-scrollify section:not(.active) h1 {
        opacity: 0 !important;
    }

    .home-scrollify section:not(.active) .btn {
        opacity: 0 !important;
    }

    .home-scrollify section:not(.active) .section-pagination {
        opacity: 0 !important;
    }

    .home-scrollify .section-bg {
        transform: scale3d(1.5, 1.5, 1) !important;
        transition: all 1.5s ease .1s;
    }

    .home-scrollify .active .section-bg {
        transform: scale3d(1.2, 1.2, 1) !important;
        transition: all 1.5s ease .1s;
    }

    /*======================================= 
                    menu css 
    ========================================*/
    .header-menu li:first-child a {
        margin-left: 0;
    }

    .header-menu li:last-child a {
        margin-right: 0;
    }

    .header-menu li a.active:before {
        visibility: visible;
        opacity: 1;
    }

    /* menu bar icon anim */
    .line-mid {
        transition: all 0.5s ease;
    }

    /* 
    .line-top,
    .line-bottom {
        transition: all 0.3s linear;
    } */

    .menu-bar-lines.active .line-mid {
        transform: translateX(50px);
    }

    .menu-bar-lines.active .line-top {
        /* transform: translateY(8px) rotateZ(45deg); */
        animation: line-top-anim 0.5s linear forwards;
    }

    .menu-bar-lines.active .line-bottom {
        /* transform: translateY(-8px) rotateZ(-45deg); */
        animation: line-btm-anim 0.5s linear forwards;
    }

    @keyframes line-top-anim {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(8px);
        }

        100% {
            transform: translateY(8px) rotate(45deg);
        }
    }

    @keyframes line-btm-anim {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-8px);
        }

        100% {
            transform: translateY(-8px) rotate(-45deg);
            /* margin-top: -16px; */
        }
    }

    .menu-bar-lines.close .line-top {
        /* transform: translateY(-8px) rotateZ(-45deg); */
        animation: line-top-anim-init 0.5s linear forwards;
    }

    .menu-bar-lines.close .line-bottom {
        /* transform: translateY(-8px) rotateZ(-45deg); */
        animation: line-btm-anim-init 0.5s linear forwards;
    }

    @keyframes line-top-anim-init {
        0% {
            transform: translateY(8px) rotate(0deg);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes line-btm-anim-init {
        0% {
            transform: translateY(-8px) rotate(0deg);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .menu-bar-btn {
        border: 1px solid rgba(255, 255, 255, 0.0);
        border-radius: 50%;
        /* transition: all 0.3s linear 0.5s; */
        transition: all 0.7s ease 0.5s;
    }


    /* mobile menu */
    /* .mobile-menu li a {
        font-size: clamp(30px, 4.5vw, 40px);
        line-height: clamp(30px, 4.5vw, 40px);
    } */

    .mobile-menu li a {
        font-size: 40px;
        line-height: 40px;
        color: var(--blue-1);
    }

    @media (max-width:768px) {
        .mobile-menu li a {
            font-size: 35px;
            line-height: 40px;
        }
    }

    @media (max-width:640px) {
        .mobile-menu li a {
            font-size: 30px;
            line-height: 30px;
        }
    }

    .mobile-menu-area {
        transition: all 0.5s ease;
    }

    .mobile-menu-area.active {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .menu-bar-lines .line {
        transition: all 0.9s ease;
    }

    .menu-bar-lines.active .line {
        background-color: black;
        transition: all 0.9s ease;
    }

    /* .mobile-menu li a {
        opacity: 0;
    }

    .mobile-menu li a.revealtext-anim {
        opacity: 1;
        transition: opacity 0.1s ease 0.2s;
    } */

    .mobile-menu .splitting .words {
        opacity: 0;
    }

    .revealtext-anim .mask .words {
        /* transform: translateY(0) !important; */
        animation: revealTextAnim 0.5s ease 0.5s both;
    }

    @keyframes revealTextAnim {
        from {
            opacity: 0;
            transform: translateY(100%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .splitting.revealtext-anim .words {
        opacity: 1;
        transition: opacity 0s ease 1s;
    }

    /* .section-title span.splitting .words {
        opacity: 0;
    } */
    /* section.active span.splitting .words {
        opacity: 0;
    } */

    .section-revealtext-anim .mask .words {
        /* transform: translateY(0) !important; */
        animation: revealTextAnim 0.5s ease 0.8s both;
    }

    /* .section-title span.splitting.section-revealtext-anim .words {
        opacity: 1;
        transition: opacity 0s ease 1.3s;
    } */

    /* section.active span.splitting.section-revealtext-anim .words {
        opacity: 1;
        transition: opacity 0s ease 1.3s;
    } */

    /*======================================= 
            Industries & markets page
    ========================================*/
    .service-box-content {
        position: relative;
    }

    .service-box-content:after,
    .service-box-content:before {
        content: '';
        position: absolute;
        top: 0;
        width: 1px;
        height: 100vh;
        background-color: var(--black-2);
    }

    .service-box-content:after {
        right: 0;
    }

    .service-box-content:before {
        left: 0;
    }

    .service-box:nth-child(2) .service-box-content:after,
    .service-box:nth-child(2) .service-box-content:before {
        display: none;
    }

    /* who we are */
    .who-we-are-banner .section-desc {
        max-width: 635px;
    }

    /* what we do page */
    .what-we-do-banner .section-desc {
        max-width: 635px;
    }

    .sustainability-banner .section-desc {
        max-width: 655px;
    }

    .solutions-row:nth-child(even) .solutions-left {
        order: 1;
    }

    .solutions-row:nth-child(even) .solutions-right-content {
        padding-right: 7.5%;
    }

    .solutions-row:nth-child(even) .solutions-left {
        border-left: 0;
        border-right-width: 1px;
    }

    .solutions-row:nth-child(3) .solutions-right-content {
        padding-right: 15%;
    }

    @media (min-width: 1441px) {
        .who-we-are-banner .section-desc {
            max-width: 44vw;
        }

        .what-we-do-banner .section-desc {
            max-width: 44vw;
        }

        .sustainability-banner .section-desc {
            max-width: 46vw;
        }
    }

    /* new css */
    /* contact page */
    .bg-select-down-black {
        background-image: url('../img/select-black-down-arrow.svg');
    }

    .contact-form .section-title {
        font-size: 52px;
    }

    /*======================================= 
                footer css 
    ========================================*/
    .footer-top a {
        font-size: clamp(25px, 3.6vw, 48px);
        line-height: clamp(25px, 4.5vw, 50px);
    }

    /*======================================= 
                responsive css 
    ========================================*/
    @media (min-width: 1440.9px) {}

    @media (max-width: 1280px) {}

    @media (max-width:1024px) {}

    @media (max-width: 992px) {
        :root {
            --app-height: 100%;
        }

        html,
        body {
            padding: 0;
            margin: 0;
            /* overflow: hidden; */
            width: 100vw;
            height: 100vh;
            height: var(--app-height);
        }

        .js-scrollify,
        .banner-inner,
        .section-bg,
        .section-content {
            height: var(--app-height) !important;
        }
    }

    @media (max-width: 768px) {
        :root {
            --space-x: 15px;
        }

        .single-member {
            align-items: inherit !important;
        }

        .solutions-right {
            order: -1;
        }

        .service-box-content:after,
        .service-box-content:before {
            height: 100%;
        }
    }
}